<h1>Providing Software Development Management for Non-Trival Projects</h1>
  <section>
    <p>When non-technical managers are assigned to software projects, they often describe their experience akin to
      <em>herding cats</em>.
    </p>
    <p>You want to hire the best people.  They need technical expertise, leadership skills, and the ability to
      translate technical problems into language that managers of every level can understand.</p>
    <p>Projects very rarely have technical problems.  Although the issues may be hidden in the language of technology,
      at the root of most problems are people.</p>
  </section>

  <section>
    <h2>Software Development is about people</h2>
    <p>Data-driven websites have a different sort of risk than most projects,
    so when typical managers step into the role of project manager, they're blindsided by sudden changes in scope with
    technical explanations a mile long.  It would cause anyone to panic.</p>
    <p>What they forgot is that the real issue, the only important issue, has always been about people.</p>

  </section>
<ul>
  <li><a ng-click="go('about')">About</a></li>
  <li><a ng-click="go('services')">Services</a></li>
  <li><a ng-click="go('rates')">Rates</a></li>
</ul>