<h1>Rates</h1>
<section>
  <h2>Project Management</h2>
  <p>The rates slowly increase over time, since the value of my service should increase over time.</p>
  <p>If the service provided isn't generating visible and measureable new value, then we've reached a plateau that needs to be
    discussed.
  </p>
  <table class="static-two-column">
    <tr>
      <td>&lt; 6 months</td>
      <td>$90/hr</td>
    </tr>
    <tr>
      <td>6 monthes - 1 year</td>
      <td>$100/hr</td>
    </tr>
    <tr>
      <td>&gt; 1 year</td>
      <td>$110/hr</td>
    </tr>
  </table>
</section>

<section>
  <h2>Website Development</h2>
  <p>These are not ordinary websites.  Retcon specializes in data-driven functionality and account-based services.</p>
  <table class="static-two-column">
    <tr>
      <td>&lt; 6 months</td>
      <td>$75/hr</td>
    </tr>
    <tr>
      <td>6 monthes - 1 year</td>
      <td>$80/hr</td>
    </tr>
    <tr>
      <td>&gt; 1 year</td>
      <td>$85/hr</td>
    </tr>
  </table>
</section>

<section>
  <h2>Quality and Reporting Metrics</h2>
  <p>Most test suite installations can be completed within a week.  For larger projects with specialized or non-standard frameworks,
    these installations are highly custom and therefore take significantly longer.</p>
  <table class="static-two-column">
    <tr>
      <td>Unit-testing + static analysis automation</td>
      <td>$80/hr</td>
    </tr>
  </table>
</section>

<section>
  <h2>Training and Seminars</h2>
  <p>Training is the best way to increase project effeciency.</p>
  <table class="static-two-column">
    <tr>
      <td>&lt; 1 full day</td>
      <td>$1000</td>
    </tr>
    <tr>
      <td>3 days</td>
      <td>$2500</td>
    </tr>
    <tr>
      <td>Quality control, coaching and development</td>
      <td>$110/hr</td>
    </tr>
  </table>
</section>
