<h1>Services</h1>
<section>
  <h2>Change Management</h2>
  <p>The agile manifesto recommends people over process.  There is a job to do, but part of the joy of software
    development is that no day is exactly like the one before.</p>
  <ul>
    <li>Problem Resolution</li>
    <li>Pivoting</li>
    <li>Recognizing Opportunity</li>
  </ul>
</section>

<section>
  <h2>Quality Control</h2>
  <p>Projects don't exist without people.  Software is one of the few industries where  products can be built
    without any physical building materials.  Instead, we build products inside of pre-existing machines from the ideas
    that we've been taught.</p>
  <ul>
    <li>Automated Testing</li>
    <li>Code Reviews</li>
    <li>Culture of Standards</li>
  </ul>
</section>

<section>
  <h2>Metrics Gathering and Reporting Progress</h2>
  <p>Most probjects don't involve much in the way of new, original research.  It is surprising that such projects are
    the ones I've seen fail most often.</p>
  <ul>
    <li>Features and Defects</li>
    <li>Code Coverage</li>
    <li>Cyclomatic and Halstead Complexity</li>
  </ul>
</section>
