<h1>Services</h1>
<section>
  <h2>Software Development is about people</h2>
  <p>When non-technical managers are assigned to software projects, they often describe their experience akin to
    <em>herding cats</em>.</p>
  <p>The agile manifesto recommends people over process.  There is a job to do, but part of the joy of software
    development is that no day is exactly like the one before.</p>
  <ul>
    <li>Change Management</li>
    <li>Quality Control</li>
    <li>Reporting Metrics</li>
  </ul>
</section>

<section>
  <h2>Change Management</h2>
  <ul>
    <li>Problem Resolution</li>
    <li>Pivoting</li>
    <li>Opportunism</li>
  </ul>
</section>

<section>
  <h2>Quality Control</h2>
  <ul>
    <li>Automated Testing</li>
    <li>Code Reviews</li>
    <li>Culture of Standards</li>
  </ul>
</section>

<section>
  <h2>Metrics Gathering and Reporting Progress</h2>
  <ul>
    <li>Features and Defects</li>
    <li>Code Coverage</li>
    <li>Cyclomatic and Halstead Complexity</li>
  </ul>
</section>
